<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Codex Desktop"
    Manufacturer="tunknown"
    Version="1.0.0"
    UpgradeCode="6f2c2b9a-4c3b-43a4-9c07-0b22b7aa1a18"
    Scope="perUser"
    Compressed="yes">

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="codexd">
        <Directory Id="CLIDIR" Name="cli" />
        <Directory Id="WORKDIR" Name="work" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="codex-desktop" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Codex Desktop" Level="1">
      <ComponentRef Id="CodexdExeCmp" />
      <ComponentRef Id="CodexCliCmp" />
      <ComponentRef Id="AppPathCmp" />
      <ComponentRef Id="ShortcutCmp" />
      <ComponentGroupRef Id="WorkPayload" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CodexdExeCmp" Guid="*">
        <File Id="CodexdExeFile" Source="$(var.CodexdExe)" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="CLIDIR">
      <Component Id="CodexCliCmp" Guid="*">
        <File Id="CodexCliFile" Source="$(var.CodexCliExe)" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AppPathCmp" Guid="*">
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\App Paths\codexd.exe"
          Value="[INSTALLFOLDER]codexd.exe"
          Type="string"
          KeyPath="yes" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\App Paths\codexd.exe"
          Name="Path"
          Value="[INSTALLFOLDER]"
          Type="string" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ShortcutCmp" Guid="*">
        <Shortcut
          Id="CodexdStartMenu"
          Name="codex-desktop"
          Target="[INSTALLFOLDER]codexd.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\codex-desktop" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
